::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #bbb;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 0;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 0;
  border-radius: 0;
}
