ww-card {
  width: 100%;

  .ww-card {
    margin: 8px 16px;
    md-card-title {
      padding: 16px;
      md-card-title-media {
          margin: 0;
      }
    }
    .card-media {
      background: #ccc;
    }
    .card-photo {
      width: auto;
      height: auto;
      max-width: 80px;
      max-height: 80px;
    }
  }

  &.ww-card-active {
    .ww-card {
      background: #f0f0f0;
    }
  }
}