ww-header {
  .ww-header__main {
    min-height: 60px;
    .md-toolbar-tools {
      height: 60px;
      min-height: 60px;
    }
  }
  
  .ww-header__buttons-toolbar {
    min-height: 60px;
  }

  .ww-header__button {
    margin: 0;
    padding: 12px;
    border-radius: 0;
    font-weight: 600;
    font-size: 18px;
  }
  .ww-header__button--monuments {
    background: #3498db;
  }
  .ww-header__button--nature {
    background: #2ecc71;
  }
  .ww-header__button--art {
    background: #9b59b6;
  }
}