<md-toolbar class="md-hue-2 ww-header__main">
  <div class="md-toolbar-tools"
        layout="row" layout-align="center center">
    <img class="ww-header__logo" src="assets/images/logo.png" alt="Wikiwakacje">
    <h2 class="ww-header__title">
      <a href="http://wikiwakacje.pl">#wikiwakacje</a>
    </h2>
    <span flex></span>
    <input class="ww-header__search" flex="66"
      type="text"
      placeholder="Wpisz miejscowość, np. Wrocław"
      ng-model="$ctrl.searchInput"
      ng-change="$ctrl.search()"
      ng-model-options="{ debounce: 200 }"/>
    <div class="ww-header__search-results">
      <div class="ww-header__search-result"
            ng-repeat="result in $ctrl.searchResults">
        {{ result.display_name }}
      </div>
    </div>
  </div>
</md-toolbar>
<md-toolbar class="md-hue-2 ww-header__buttons-toolbar"
              layout="row" layout-align="center center">
  <md-button class="ww-header__button ww-header__button--nature" flex="33"
              ng-click="$ctrl.changeVersion('nature')">
    <md-icon>cloud</md-icon>
    <span>Przyroda</span>
  </md-button>
  <md-button class="ww-header__button ww-header__button--monuments" flex="33"
              ng-click="$ctrl.changeVersion('monuments')">
    <md-icon>account_balance</md-icon>
    <span>Zabytki</span>
  </md-button>
  <md-button class="ww-header__button ww-header__button--art" flex="33"
              ng-click="$ctrl.changeVersion('art')">
    <md-icon>extension</md-icon>
    <span>Sztuka</span>
  </md-button>
</md-toolbar>