ww-header {
  .ww-header__button {
    margin: 0;
  }
  .ww-header__button--monuments {
    background: #3498db;
  }
  .ww-header__button--nature {
    background: #2ecc71;
  }
  .ww-header__button--art {
    background: #9b59b6;
  }
}