@import '../../styles/responsive';

ww-sidebar {
  position: relative;
  background: #ededed; // #fafafa;

  @include x-small { 
    height: 200px;
  }

  .ww-sidebar-info {
    padding: 25px 10px;
    color: #757575;
    opacity: .5;
    text-align: center;

    .material-icons {
      font-size: 50px;
    }
  }

  .ww-cards {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 186px);
    background: #ededed;

    @include x-small { 
      height: 200px;
    }
  }

  .ww-cards--loading {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: calc(100vh - 186px);
    background: #ededed;

    @include x-small { 
      height: 200px;
    }
  }

  .ww-sidebar-options {
    width: 100%;
    padding: 0;

    md-list-item {
      background: white;
      border-top: 4px solid #ddd;
      font-weight: 600;
    }
  }

  .ww-card__upload-extra {
    width: calc(100% - 16px);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
  }
}
