<!DOCTYPE html>
<html>
  <head lang="pl">
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="author" content="Wikimedia Polska" />
    <meta property="og:title" content="Wikiwakacje" />
    <meta property="og:type" content="website" />
    <meta
      property="article:author"
      content="https://www.facebook.com/WikimediaPolska/"
    />
    <meta
      property="og:description"
      content="Rób zdjęcia, zgarniaj nagrody, pomóż budować Wikipedię"
    />
    <meta property="og:image" content="http://wikiwakacje.pl/img/thumb.png" />
    <title>Wikiwakacje | Mapa</title>
  </head>

  <body ng-app="app" ng-cloak>
    <ww-main></ww-main>
  </body>
</html>
