<div class="ww-map-switcher">
  <md-button class="md-raised"
              ng-click="$ctrl.changeVersion('monuments')">
    <md-icon>account_balance</md-icon>
    <span>Zabytki</span>
  </md-button>
  <md-button class="md-raised"
              ng-click="$ctrl.changeVersion('nature')">
    <md-icon>cloud</md-icon>
    <span>Przyroda</span>
  </md-button>
  <md-button class="md-raised"
              ng-click="$ctrl.changeVersion('art')">
    <md-icon>extension</md-icon>
    <span>Sztuka</span>
  </md-button>
</div>
<leaflet flex
  lf-center="$ctrl.center"
  url-hash-center="yes"
  event-broadcast="$ctrl.events"
  markers="$ctrl.markers"
  bounds="$ctrl.bounds">
</leaflet>